{{#extend "css" "help, common"}}{{/extend}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="css/si/paidui.png" />
    <div id="common">
        <i class="icon"></i>
    </div>
    dshaj
{{#extend "js" "test"}}{{/extend}}
